.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-size: 24px;
}

.counter1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
  
.counter1 button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}
  
.counter1 button:hover {
    background-color: #e0e0e0;
}
  
.counter1 .count {
    font-size: 16px;
    font-weight: bold;
}

.speciall-button {
    background-color:orange !important;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0.5rem;
  }

.actionn-button {
    background-color: #f4ce14;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.4rem;
    font-family: "Karla";
    font-size: 1.2rem;
    border-width: 0px;;
  }
  
  .actionn-button:hover {
    background-color: orange;
    color: #000000;
    border-style: solid;
    border-width: 0px;
    transition: 0.2s;
  }

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:912px) and (min-width:800px){
    .menu-card-content h1{
        font-size: 15px !important;

    }

    .description{
        height: 70px !important;
    }

}
  
@media screen and (min-width:1100px) {
    .description{
        height: 70px !important;
    }
}


@media screen and (max-width:1100px) {
    .counter1{
        width:60px;
        height: 30px;

    }
    
    .header h1{
        font-size: 20px;
    }
}
